    body {
        margin: 0;
    }

    .parallax {
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parallax h1 {
        color: white;
        font-size: 48px;
    }

    .black {
    height: 300px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;  
    align-items: flex-end; 
    padding-bottom: 20px; 
}

    .img1 {
        background-image: url("https://pbs.twimg.com/media/G-4Ks4_WIAAHBe7.jpg");
    }

    .img2 {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwjVjuWOkL-7pCAWlUiDqkak71d2k4XqHiTg&s");
    }